{{> layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>익명 글수정 화면입니다</b></div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter author" id="edit_author" value="{{board.author}}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter title" id="edit_title" value="{{board.title}}">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" id="edit_content"></textarea>
                </div>
                <button onclick="btnEdit()" type="button" class="btn btn-primary form-control">글수정완료</button>
            </form>
        </div>
    </div>
</div>

<script>
    function btnEdit(){
        let board = {
            title: $("#edit_title").val(),
            content: $("#edit_content").val(),
            author: $("#edit_author").val()
        };

        $.ajax({
            url: `/api/boards/{{board.id}}`,
            type: "post",
            data: JSON.stringify(board),
            contentType: "application/json; charset=utf-8"
        }).done((res)=>{
            location.href = "/";
        }).fail((res)=>{
            alert(res.responseJSON.msg)
        });
    }

</script>
{{> layout/footer}}