{{> layout/header}}

<div class="container p-5">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="board-box">

        </tbody>
    </table>

</div>

<script>
    $.ajax({
        url: "/api/boards",
        type: "get"
    }).done((res) => {
        console.log("통신 성공");
        console.log(res);

        let boardList = res.body;

        boardList.forEach((board)=>{
            $("#board-box").append(render(board));
        });
    }).fail((res) => {
        //console.log(res);
        alert(res.responseJSON.msg);
    });

    function render(board) {
        return `<tr id="board-${board.id}">
                    <td>${board.id}</td>
                    <td>${board.title}</td>
                    <td>${board.content}</td>
                    <td>${board.author}</td>
                    <td>
                        <div class="d-flex">
                            <button onclick="del(${board.id})" class="btn btn-danger">삭제</button>
                            <form action="/board/${board.id}/updateForm" method="get">
                                <button class="btn btn-warning">수정</button>
                            </form>
                        </div>
                    </td>
                </tr>`;
    }
</script>

{{> layout/footer}}